.header {
  line-height: 70px;

  .content {
    border-bottom: 1px solid #D1D1D1;

    h1 {
      font-weight: normal;
      font-size: 28px;
      display: inline-block;
    }

    .logo {
      text-align: center;

      img {
        height: 30px;
      }
    }
  }

}