.form-container {
  max-height: calc(100vh - 120px);
  overflow-x: hidden;
  overflow-y: auto;
}

input.active-feature {
  border: 8px solid #e74d61;
  font-weight: bold;
  color: #e74d61 !important;
}

tr.active-feature {
  border-left: 4px solid #e74d61;
  font-weight: bold;
  color: #e74d61 !important;
}
