.form-container {
  max-height: calc(100vh - 120px);
  overflow-x: hidden;
  overflow-y: auto;
}

div.field {
  border-left: 4px solid white;
  padding-left: 1px;
}

div.field.active {
  border-left: 4px solid #e74d61;
}

div.line-items {
  margin-left: 5px;
}

tr.line-item > td:first-child {
  padding-left: 4px;
}

tr.line-item.active > td:first-child {
  border-left: 4px solid #e74d61;
  padding-left: 3px;
}
